<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<hr />

<!--
<form method="post" style="max-width:600px;" th:object="${category}">
-->
<form method="post" th:object="${tea}">
    <div class="form-group">
        <label th:for="name">Tea Name</label>
        <input class="form-control" th:field="*{tea_name}" />
        <span th:errors="*{tea_name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="Brand">Brand</label>
<!--        <select name="brand_id">
            <option th:each="brand :${brands}"
                    th:text="${brand.name}"
                    th:value="${brand.brand_id}">


-->
        <select name="brand_id">
        <option th:each="brand :${brands}"
                th:text="${brand_name}"
                th:value="${brand_id.id}">

        </option>
        </select>
    </div>
    <!--
        <div class="form-group">
            <label th:for="">Check the box if you like this tea</label>
            <input class="checkbox" th:field="*{like_dislike}" />
            <span th:errors="*{like_dislike}" class="error"></span>
        </div>
     -->

        <input type="submit" value="Add New Tea" />
    </form>
    </body>
    </html>